<span> Temperature: </span>{{weather.main.temp}}<br>
<span>minimum temperature</span>{{weather.main.temp_min}}<br>
<span>maximum temperature</span>{{weather.main.temp_max}}<br>
<span>pressure</span>{{weather.main.pressure}}<br>
<span>Sea Level</span>{{weather.main.sea_level}}<br>
<span>Ground Level</span>{{weather.main.grnd_level}}<br>
<span>Humidity</span>{{weather.main.hunidity}}<br>
<span>temp_kf</span>{{weather.main.temp_kf}}<br>


<button (click)="router.navigateByUrl(['/day ']);">Go Back</button>