<ul style="list-style: none;">
    
    <li *ngFor="let i of data" (click)= "onClick(i)" >
        <div class="divi">
        <h2>{{i.dt | date:'EEEE, MMMM d, y, h:mm:ss a'}}</h2>
           <span>Sky:&nbsp;{{i.weather[0].main}}  </span>
            <span id="wind"> Wind Speed {{i.wind.speed}}</span>
           <h3>{{i.weather[0].description}}</h3>

           <h3>{{i.wind.deg}}</h3>
        </div>
    
</ul>

